body {
    font-family: Arial, sans-serif;
    background-image: url('https://avatars.mds.yandex.net/i?id=b19d41ea0beab9a6bcafcb92d390840eb6860ec2-3923574-images-thumbs&n=13');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; 
    margin: 0;
}

h1, h2, p, label, button {
    color: black; 
    text-shadow: none;
}

#balance-display {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black; 
    padding: 5px 10px;
   
