body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    background-image: url('background-image.jpg'); /* Замените на URL или имя вашего фонового изображения */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

canvas {
    background-color: rgba(34, 34, 34, 0.8); /* Полупрозрачный фон для канваса */
    border: 2px solid #fff;
    margin-top: 20px;
}
